<!DOCTYPE html>
<html>
<head>
  <!-- NOTE: many thanks to the instructions at http://jslog.com/2014/10/02/react-with-webpack-part-1/ -->
  <title>Universal UI Code Example</title>
</head>
<body>
  <h1>Project Report</h1>
  <h2>Above the Fold Content</h2>
  <div id="above-the-fold">
    <!-- For content we are definitely waiting for before rending the page -->
    <%- aboveText %>
  </div>

  <hr>

  <img src="/beacon?id=<%- beaconId %>">